{
	"presets": [
		"es2015",
		"react",
		"stage-0"
	],
	"plugins": [
		[
			"import",
			{
				"libraryName": "mor-mobile",
				"libraryDirectory": "lib"
			}
		],
		"jsx-control-statements",
		"transform-object-assign"
	]
}

